* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    background-size: 100vw 100vh;

    width: 100%;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(rgb(255, 41, 41) 50%, rgb(255, 84, 5));
    border-radius: 20px;

    box-shadow: 0px 25px 50px rgb(37, 30, 21);
}

.square {
    background-color: rgb(255, 255, 255);
    user-select: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-block: 1rem;
    width: 8rem;
}

.controls {
    width: 100%;
    position: relative;
    padding-block: 1rem;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 4rem;
}

.--controls-left {
    display: flex;
    justify-content: right;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#color-picker {
    background-color: white;
    padding: 0;
    border: none;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10px;
}

.controls label {
    font-weight: bold;
    color: white;
}

.color-button {
    width: 2rem;
    height: 2rem;
    border: 3px solid darkgoldenrod;
    border-radius: 10px;
}

.controls input:not(input[type="range"]) {
    transition: border 100ms ease;
}

.controls input:not(input[type="range"]):hover {
    border: 3px solid rgb(12, 138, 255) !important;
}

#gray-button {
    background-color: dimgray;
}

#red-button {
    background-color: red;
}

#blue-button {
    background-color: blue;
}

#yellow-button {
    background-color: yellow;
}

#clear-button {
    text-align: center;
    border: 3px solid darkgoldenrod;
    border-radius: 16px;
    padding: 0.5rem 1rem;

    font-weight: 600;
    color: darkgoldenrod;
    background-color: yellow;
}

.grid-container {
    display: grid;
    width: 80vw;
    max-width: 1000px;

    height: 40vw;
    max-height: 500px;

    background-color: gray;
    gap: 0.1rem;

    margin-inline: 2rem;
}
