* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.etch-a-sketch {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: red;
    border-radius: 20px;
}

.controls {
    width: 100%;
    position: relative;
    padding-block: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.dimensions-text {
    color: white;
    font-weight: bold;
}

.controls > label {
    color: white;
}

.controls #grid-width-field,
.controls #grid-height-field {
    width: 4rem;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
}

.controls input[type="button"] {
    text-align: center;
    border: 4px solid orange;
    border-radius: 20px;
    padding: 0.5rem 1rem;

    background-color: yellow;
}

.grid-container {
    display: grid;
    width: 80vw;
    height: 40vw;

    background-color: gray;
    gap: 0.1rem;

    margin-inline: 2rem;
}

.square {
    background-color: rgb(255, 255, 255);
    /* pointer-events: none; */
}

.square.filled {
    background-color: gray;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-block: 1rem;
    width: 8rem;
}
